.textbox {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  margin-top: 3%;
  width: auto;
  font-size: 5vw;
}
.textbox-description {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  margin-top: 13%;
  width: 20%;
  font-size: 1vw;
  opacity: 30%;
}

.compile {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  margin-top: 3%;
  margin-left: 70%;
  width: auto;
  font-size: 5vw;
}
.compile-description {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  margin-top: 13%;
  width: 100%;
  font-size: 1vw;
  opacity: 30%;
}

.error {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  margin-top: 25%;
  margin-left: 25%;
  width: auto;
  font-size: 3vw;
}

/******Array Stuff******************************/

.arr-lab {
  position: absolute;
  margin-top: 5%;
  margin-left: 25%;
  width: 50vw;
}

.index {
  font-size: 1vw;
  position: absolute;
  top: 40%;
  left: 17.5vw;
}

.index div {
  text-align: center;
  line-height: 10vw;
  display: inline-block;
  width: 10vw;
  height: 10vw;
  margin: 70px 10px 10px 10px;
  background: red;
}

.column {
  font-size: 2vw;
  position: absolute;
  top: 30%;
  left: 21%;
}
.column div {
  display: inline-block;
  width: 10vw;
  height: 10vw;
  margin: 85px 10px 10px 10px;
}

.hide-text {
  font-size: 0px;
}
