.textbox {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  margin-top: 3%;
  width: auto;
  font-size: 5vw;
}
.textbox-description {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  margin-top: 13%;
  width: 20%;
  font-size: 1vw;
  opacity: 30%;
}
.arr-size {
  font-family: 'Open Sans', sans-serif;
  font-size: 2vw;
}
.arr-size-description {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  margin-top: 13%;
  width: 100%;
  font-size: 1vw;
  opacity: 30%;
}

.compile {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  margin-top: 3%;
  margin-left: 70%;
  width: auto;
  font-size: 5vw;
}
.compile-description {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  margin-top: 13%;
  width: 100%;
  font-size: 1vw;
  opacity: 30%;
}

.error {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  margin-top: 20%;
  margin-left: 30%;
  width: 40vw;
  font-size: 3vw;
  text-align: center;
}

/******Array Stuff******************************/

.lab-wrapper div {
  position: fixed;
}
.arr-lab-1 {
  position: absolute;
  top: 25%;
  right: 70%;
  width: 30vw;
}
.arr-lab-2 {
  position: absolute;
  top: 40%;
  right: 70%;
  width: 30vw;
}

.index {
  font-size: 4vw;
  position: absolute;
  top: 40%;
  left: 17.5vw;
}

.index div {
  text-align: center;
  line-height: 10vw;
  display: inline-block;
  width: 10vw;
  height: 10vw;
  margin: 70px 10px 10px 10px;
  background: red;
}

.column {
  font-size: 3vw;
  position: absolute;
  top: 29%;
  left: 21%;
}
.column div {
  display: inline-block;
  width: 10vw;
  height: 10vw;
  margin: 85px 10px 10px 10px;
}

.hide-text {
  font-size: 0px;
}
